<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">
    <div class="rounded box-shadow my-3 border shadow rounded">
        <h5 class=" text-center mt-3 mb-2"><%= thread.title %></h5>
        <p class="lead text-center mb-0"><span class="small"><%= topic.title %></span></p>
        <p class="lead text-center small mt-0"><%= thread.date %></p>
        <hr class="mx-3 mb-0">
        <div class="card-body"><p><%= thread.body %></p></div>
    </div>
    <!-- Comments -->
    <% if (thread.comments.length) { %>
        <div class="my-3 p-3 border shadow rounded">
            <h6 class="border-bottom border-gray pb-2 mb-0">Comentarios</h6>
            <% thread.comments.forEach(comment => { %>
                <div class="media text-muted py-2">
                    <i class="fas fa-square fa-2x mr-2 my-1" color-data="<%= comment.color %>"></i>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong><%= comment.date %></strong><br>
                        <%= comment.body %>
                    </p>
                </div>
            <% }); %>
        </div>
    <% } %>
    <!-- New comment -->
    <div class="bg-white border shadow rounded mt-4 mb-3 p-3">
        <h6 class="border-bottom border-gray pb-2 mb-0">Deja un comentario</h6>
        <div class="card-body">
            <form action="/foro/<%= topic._id %>/<%= thread._id %>/comentario" method="POST">
                <div class="form-group">
                    <textarea name="comment[body]" class="form-control rounded" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-dark btn-sm">Comentar</button>
            </form>
        </div>
    </div>
</div>

<% include ../../partials/footer %>
<script src="./js/comments.js"></script>