<% include ../../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
                <h1 class="display-3 mb-3"><%= topic.title %></h1>
                <p class="lead"><%= topic.description %></p>
                <hr class="my-3">
                <p class="mt-3">Puedes crear subtemas de discusión</p>
                <p class="lead">
                    <a class="btn btn-primary" href="/foro/<%= topic._id %>/nuevo">Nuevo Subtema</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <h2 class="display-5">Buscar temas</h2>
            <div class="form-group">
                <input type="text" id="search" class="form-control" placeholder="Título">
                <small class="form-text text-muted">Busca el tema por su título</small>
            </div>
        </div>
        <div class="col-md-8">
            <% topic.threads.forEach(thread => { %>
                <div class="card my-3" full-data="<%= thread.title %>">
                    <div class="card-header bg-light">
                        <h3 class="card-title my-1">
                            <%= thread.title %>
                        </h3>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-3">
                            <% if (thread.comments.length) { %>
                                Este subtema ha sido discutido <%= thread.comments.length %> veces
                            <% } else { %>
                                Este subtema todavía no ha tenido discusión
                            <% } %>
                            <span class="float-right mb-3"><%= thread.date %></span>
                        </h6>
                        <p class="card-text"><%= thread.body.substr(0, 195) %> ...</p>
                    </div>
                    <div class="card-footer text-center bg-light">
                        <a href="/foro/<%= topic._id %>/<%= thread._id %>" class="card-link text-primary">Leer</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<% include ../../partials/scripts %>
<script src="/js/thread.js"></script>

<div class="footer">
    <div class="container">
        <p class="float-right"><a href="/foro">Volver a todos los temas</a></p>
        <p><a href="https://github.com/br1code">Br1code</a> - <a href="/licencias">Licencias</a></p>
    </div>
</div>

<% include ../../partials/footer %>